<div class="portfolio-modal modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#" data-dismiss="modal">Takaisin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal-scrollable-area">
            <div class="container">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Huoltotyön hallinta</h2>
                        <h3>Mitkä ovat tehokkaan huoltotyön hallinnan edellytykset?</h3>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                                <img src="img/illustration/laptop.png" class="img-responsive">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <p class="large text-muted">
                                    Tehokas huoltotyön hallinta kokoaa yhteen tärkeän informaation. Lisäksi se mahdollistaa 
                                    sujuvan kommunikoinnin niin huoltohenkilökunnan kuin asiakkaidenkin kanssa. Huoltoresurssien
                                    käyttö tehostuu, mikä näkyy asiakkaille parantuneena huollon laatuna.
                                </p>
                                <p class="large text-muted">
                                    Asiakkaan tilatessa kiireellisen huoltokäynnin pitää olla tiedossa huoltohenkilöiden sijainti, 
                                    työtehtävät ja sertifikaatit. Tällöin osataan priorisoida paikalle lähetettävä huoltohenkilö. 
                                    Asiakkaan huoltohistoria, sopimukset ja varaosatilanne ovat myös tärkeitä, koska niillä ohjataan käytännön työtä.
                                </p>
                            </div>
                        </div>

                        <h3>Palvelumuotoilu takaa tehokkaan huoltotyön hallinnan</h3>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1">
                                <p class="large text-muted">
                                    Palvelumuotoilu luo liiketoimintamallin, käyttötapaukset ja palvelun onnistumisen mittarit, jotka ohjaavat
                                    koko palvelukehityksen elinkaarta.
                                </p>
                                <p class="large text-muted">
                                    Palvelumuotoilu varmistaa, että palvelu on liiketoiminnallisesti kannattava sekä houkutteleva sille
                                    määritellyille käyttäjäryhmille. Sen avulla myös saadaan alustava kustannusarvio toteutuksesta.
                                </p>
                                <button class="btn btn-default btn-orange">Varaa aika konseptointiin</button>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <img src="img/illustration/service-design.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="testimony-box">
                                <div class="testimony-image col-lg-2 col-md-2 col-sm-3">
                                    <img src="img/illustration/jarno_luttinen.png" class="img-responsive">
                                </div>
                                <div class="testimony-text col-lg-9 col-md-9 col-sm-8">
                                    “Palvelumuotoilulla olemme saavuttaneet merkittäviä liiketoimintaetuja asiakkaillemme.“<br/>
                                    Jarno Luttinen, Design Studio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
