<div class="portfolio-modal modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header page-scroll">
          <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#" data-dismiss="modal">Takaisin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal-scrollable-area">
      <div class="container">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Sosiaalinen huoltokirja</h2>
            <h3>Machinebook&#8482;</h3>
            <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
                <div class="phone1">
                <img src="img/illustration/machinebook.png" class="img-responsive">
                <div class="phone2">
                </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-5">
                <p class="large text-muted">
                  Sosiaalinen huoltokirja tuo tehokkaan kommunikoinnin, havainnollistavat ja kehittyvät huolto-ohjeet
                  sekä huoltomiesten osaamisen kehittämisen osaksi jokapäiväistä tekemistä.
                  Liiketoiminnallisesti tämä tarkoittaa kilpailukyvyn parantumista.
                </p>
                <p class="large text-muted">
                  Sosiaalista huoltokirjaa on helppo kehittää myös huollon tietämyskannan suuntaan.
                  Laitteen huoltohistoria ja automaattiset huoltoraportit vähentävät virheitä.
                </p>
              </div>
            </div>

            <h3>Keskustelufoorumi ihmisten ja koneiden välillä</h3>
            <div class="row">
              <div class="col-lg-6 col-lg-offset-1 col-md-6  col-md-offset-1">
                <img src="img/illustration/avatar.png" class="img-responsive">
              </div>
              <div class="col-lg-4 col-md-4">
                <p class="large text-muted">
                  Machinebook&#8482; voi toimia myös keskustelufoorumina ihmisten ja koneiden välillä.
                  Mitä jos kone julkaisisi itsestään tietoja Machinebook-sivuilleen?
                  Sivut mahdollistavat aivan uudenlaisia toimintamalleja, kuten esimerkiksi kuittausprosessi koneen julkaisemille hälytyksille.
                </p>
                <p class="large text-muted">
                  Avatar - koneen ilmentymä pilvessä - ja Machinebook&#8482; mahdollistavat myös tehokkaat integraatiot koneen ja muiden järjestelmien välillä.
                </p>
                <button class="btn btn-default btn-orange">Jätä tarjouspyyntö</button>
              </div>
            </div>

            </div>
            <div class="row">
              <div class="testimony-box">
                <div class="testimony-image col-lg-2 col-md-2 col-sm-3">
                  <img src="img/illustration/tarmo.png" class="img-responsive">
                </div>
                <div class="testimony-text col-lg-9 col-md-9 col-sm-8">
                  “Me haluamme keskittyä todella vaikeisiin asioihin IoT:n saralla.“<br/>
                  Tarmo Pajunen, Solution Architect
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
