<section id="refs">
      <a href="http://www.cybercom.com/fi/Suomi/Asiakkaat/">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br/>
                    <h2 class="section-heading">Referenssejämme</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/logos/logo_kone.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-sm-3">
                  <img src="img/logos/Metso-logo.png" class="img-responsive img-centered" alt="">
                </div>

                <div class="col-lg-3">
                    <img src="img/logos/logo_outotec.png" class="img-responsive img-centered" style="padding-top:30px;" alt="">
                </div>

                <div class="col-sm-3">
                    <img src="img/logos/logo_sandvik.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
      </a>
</section>
