<section id="refs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Referenssit</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <img src="img/logos/logo_kone.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-4 text-center">
                    <img src="img/logos/logo_outotec.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-3 text-center">
                    <img src="img/logos/logo_sandvik.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
</section>
