<!-- Solutions Section -->
    <section id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading single-title">Näyteikkuna</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_huoltotyon_hallinta.svg">
                    </div>
                    <h4 class="service-heading">Huoltotyön hallinta</h4>
                    <p class="text-muted">Resurssien optimaalinen käyttö</p>
                </div>
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_liikkuva_huoltotyo.svg">
                    </div>
                    <h4 class="service-heading">Liikkuva huoltotyö</h4>
                    <p class="text-muted">Avoin tiedonkulku kentällä</p>
                </div>
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_etavalvonta.svg">
                    </div>
                    <h4 class="service-heading">Etävalvonta</h4>
                    <p class="text-muted">Kustannustehokas valvonta</p>
                </div>
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_virtual_training.svg">
                    </div>
                    <h4 class="service-heading">Virtuaalinen koulutus</h4>
                    <p class="text-muted">Jatkuvalla oppimisella prosessi haltuun</p>
                </div>
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_sosiaalinen_huoltokirja.svg">
                    </div>
                    <h4 class="service-heading">Sosiaalinen huoltokirja</h4>
                    <p class="text-muted">Innovatiivinen ratkaisu parempaan kilpailukykyyn</p>
                </div>
                <div class="col-md-4">
                    <div class="solution-thumbnail">
                        <img src="img/solutions/icon_kysymysmerkki.svg">
                    </div>
                    <h4 class="service-heading">Jokin muu, mikä?</h4>
                    <p class="text-muted">Uudet IoT ratkaisut</p>
                </div>
            </div>
        </div>
    </section>
