<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading single-title">Asiantuntijat</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img src="img/team/team.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h3 class="section-subheading text-muted single-title">500 vuotta kokemusta teollisista ratkaisuista</h3>
                    <p class="large text-muted">Toimitamme Suomen parhaat teollisuuden palvelu- ja huoltoliiketoiminnan järjestelmät. Tuotamme liiketoiminnallista ratkaisukonsultointia ja toteutamme moderneja teollisen internetin järjestelmiä. Yhdessä luomme entistä tuottavampaa liiketoimintaa uusien digitaalisten ratkaisujen avulla.</p>
                    <p class="large text-muted">Olemme IT-alan palveluyritys, joka auttaa asiakkaitaan tuottamaan menestyksekkäitä digitaalisia palveluita. Kunnianhimomme on rakentaa luottamuksellinen asiakassuhde, joka mahdollistaa asiakkaan haasteiden ymmärtämisen paremmin kuin kukaan muu. Yhdessä asiakkaidemme kanssa kehitämme innovatiivisia tuotteita ja palveluita kansainvälisille markkinoille.</p>
                    <p class="large text-muted">Tartumme jokaiseen haateeseen tarmolla ja antaumuksella tähdäten asiakkaan liiketoiminnan kannalta parhaaseen lopputulokseen.</p>
                </div>
            </div>
        </div>
    </section>
