.solution-thumbnail img {
    width: 180px;
    height: 180px;
}

.service-heading {
    font-size: 21px;
}

.text-muted {
    font-family: "frutiger-light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
}

.modal-navbar-cybercom .navbar-right
{
  position:absolute;
  right:20px;
}

.phone1
{
  padding:20px;
  padding-top:35px;
  background-color: #333;
  border-radius: 30px;
}

.phone2
{
  background-color: #444;
  width: 150px;
  height: 20px;
  border-radius: 50px;
  margin: auto;
  margin-top: -10px;
}
